/* styles.css */
.button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
.button:hover {
    background-color: #2ecc71;
    transform: translateY(-10px);
}