.bookshelf {
    width: 100%;
    height: auto;
    background-color: #f3f0e6;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #7b5544;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .shelf-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    position: relative;
  }
  
  .shelf-row::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #8B4513;
    border-top: 1px solid #6F4E37;
  }
  
  .book-container {
    margin-right: 15px;
  }
  
  .book-container:last-child {
    margin-right: 0;
  }